
body{
      padding: 0;
      margin: 0;
      background: linear-gradient(rgba(43, 85, 148),#042033);
      font-family: sans-serif;
  }
 
  .fa-window-close {
  
      background-color: #d6e0ee;
      font-size: 22px;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 3;
      box-shadow: 0px 0px 10px 0px #337db3;
  }
 
  #btn_return {
      color: white;
      font-size: 30px;
      background: none;
      border: none;
      position: relative;
      top: 5%;
      left: 80%;
  }
  
      #logo{
          position: fixed;
          width: 100%;
          top: 20px;
          left: 20px;
          z-index: 2;
         
      }
      #calendar{
            width: 100%;
           min-height: 80vh;
            position: relative;

      }
      .heading{
            
            text-align: center;
            padding: 2.5rem 0;
      }
      .heading span {
            position: relative;
            top: 60px;
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 50px;
            border-radius: .5rem;
            text-align: center;
            background: linear-gradient(#143449,rgb(201, 217, 241));
            color: rgb(27, 40, 51);
            padding: .2rem 1rem;
            cursor: pointer;
            box-shadow: -1px 12px 12px -6px rgba(35, 126, 196, 0.5);

        }
     table{
            position: relative;
            left: 50%;
            top: 220px;
            transform: translate(-50%,-50%);
            border-collapse: collapse;
            width: 800px;
            height: 200px;
            border:1px solid rgb(1, 38, 59) ;
      }
      table:hover{
            box-shadow: -1px 12px 12px -6px rgba(128, 151, 170, 0.5);
      }
      thead{
            background:  linear-gradient(rgb(59, 105, 175),#042033);
               color: white;
         }
         th,td{
               font-size: 30px;
               padding: 15px 10px;
               text-align: left;
            
              
         }
         th{
            color: rgb(235, 239, 250);
      }
         tr{
            transition: all .2s ease-in;
            cursor: pointer;
            font-size: 25px;
      }
   
      tr:hover{
            background-color: white;
            transform: scale(1.02) ;
            box-shadow: 2px 2px 12px rgba(0, 0, 0,0.2), -1px -1px 8px rgba(0, 0, 0,0.2);
      }
     
      
      
      tr:nth-child(odd){
            color: #e2f3ff;
            background: linear-gradient(rgb(56, 76, 107),#07314d);
           
      }
      tr:nth-child(even){
            border-top: 1px solid rgb(222, 230, 243);
            color: rgb(29, 33, 44);
            background: linear-gradient(#143449,rgb(201, 217, 241));
      }

  
   @media only screen and (max-width:900px){
   
      .heading span {
               font-size: 40px;}
            }
@media only screen and (max-width:790px){
      #logo{
            left: 40%;
      }
      .heading span {
         top: 70px;
            font-size: 27px;}
      table {
            width: 90%;
      
      }
      
th,td{
      font-size: 23px;
}
tr{
      font-size: 25px;
}
}
