*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: auto;
    position: relative;
    right: 0px;
   
}

.fa-window-close:before{
    color: #082650;
    background-color: #d6e0ee;
    font-size: 22px;
    position: fixed;
        top: 0px;
        left:0px;
        z-index: 3;
    }
 .fa-window-close:hover{     
     cursor: pointer;
     box-shadow: 0px 0px 10px 0px #0c5991;
    }
    #logo{
        position: fixed;
        width: 100%;
        z-index: 2;
       
    }
    #logo.black{
        background: linear-gradient(rgb(5, 25, 56),rgba(184, 209, 248));
    }
#logo img {
    position: relative;
       top: 0px;
        left:30px;
        width: 70px;
        height: 80px;     
    
   
}
.photo {
  
   position: relative;
    width: 100px;
    height: 95vh;
    z-index: -1;
    
    }
  
.menu{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0px;
    background-color:rgb(7,40,65,0.8);
    z-index: 2;
    transition: 0.5s;
    }
    a.nav-link:hover{
        color: rgb(127, 155, 230);
        cursor: pointer;
        background: none;
       
        padding-left: 35px;
    }
    nav ul li a{
        margin-top: 20px;
    font-size: 25px;
    color: #d6e0ee;
    }
   
    nav ul ul {
        position: static;
        display: none;
      
        
    }
    nav ul ul li{
        text-align: center; 
        
    }
    nav ul ul li a{
        
        color: #d6e0ee;
    }
    nav ul ul li a:hover{
        text-decoration: none; 
        color: rgb(127, 155, 230);
    }
   
    nav ul .showlist.show{
        display: block;
    }
    input#gridRadios1 {
        position: absolute;
        left: 90px;
        bottom: 12px;
    }
    .menu_btn{
        font-size: 40px;
        padding: 20px;
          color: rgb(248, 250, 252);
          border-radius: 100px 50px ;
          position: fixed;
         right: 30px;
          top: 5px;
        z-index: 3;
    }
   
    .menu_btn:hover{
        cursor: pointer;
        box-shadow: 0px 0px 10px 0px #3293d8;
    }
    .menu_list{
        
    right: 0px;
    }
    #list
    {
    margin-top: 75px;}
    #iconbar{
        padding-right: 10px;
    }
   #sigin{
    position: fixed;
    top: 0%;
  right: 0%;
     font-size:20 px;
     border: none;
     background-color: #062841;
     z-index: 2;
   } 
   .sign_box{
  width: 350px;
  height: 230px;
  border-radius: 50px ;
  box-shadow: 0px 0px 10px 0px #1b5e8f;
  margin: 20px 0px 20px 60px ;
}
.inputBox i{
     
    position: absolute;
    font-size: 30px;
    padding: 55px 20px;
}
.sign_box:hover{
    box-shadow: 0px 0px 10px 0px #0b2a52;
    cursor: pointer;
}
.inputBox input {
    font-family: auto;
    margin: 50px 50px 0px;
    padding: 0px 20px 5px 10px;
    font-size: 20px;
    color: #062841;
    border: none;
    letter-spacing: 1px;
    border-bottom: 2px #163857 solid;
  
    background: transparent;
}
.inputBox input:focus {
    border: none;
    box-shadow: 0px 0px 10px 0px #0b2a52;
   
}
h5{
    font-size: 30px;
    text-align:center;
    font-weight: bold;
    color: #062841;
}#teacher{
 
font-weight: bold;
background-color: white;
color:#062841;
border-radius: 30%;
font-size: 17px;
border: 1px solid #062841;
}
#student{
   
    font-weight: bold;
    background-color: white;
    color:#062841;
    border-radius: 30%;
    font-size: 17px;
    border: 1px solid #062841;
}
#parents{
  
    font-weight: bold;
    background-color:white;
    color:#062841;
    border-radius: 30%;
    font-size: 17px;
    border: 1px solid #062841;
}
#teacher:hover{
   
    background-color: rgb(131, 170, 206);
    box-shadow: 0px 0px 10px 0px #1b5e8f;
}
#student:hover{
    background-color: rgb(131, 170, 206);
    box-shadow: 0px 0px 10px 0px #1b5e8f;
}
#parents:hover{
    background-color: rgb(131, 170, 206);
    box-shadow: 0px 0px 10px 0px #1b5e8f;
}
#loicon{
    color: #062841;
    padding-left: 10px;
    font-size: 20px;
}
#home{
    width: 100%;
   
}

.title_text p{
   position: relative;
   top: -80px;
    text-align: center;
    border: 10px #062841 solid;
    background-color: #d6e0ee;
    box-shadow: 0px 0px 10px 0px #9ec6e2;
    color:#062841;
    font-weight: bold;
    border-radius: 50px;
    font-size: 60px;
    z-index: 1;
   
}
.home_box
{
 padding-bottom: 100px;
 margin-top:-130px;
    background: linear-gradient(rgba(43, 85, 148),#042033);
}
.home_box p{
    position: relative;
    top: 70px;
    color: #d6e0ee;
    text-align: center;
    font-size: 60px;
    margin-bottom: 70px;
   
}
#home .text-muted{
position: relative;
bottom: 30px;

}
#about{
    width: 100%;
    background: linear-gradient(rgb(22, 54, 102),#042033);
    position: relative;
    bottom: 20px;
  
}


.about_box{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:  space-around;
    margin: auto;
    padding-bottom: 100px;
   
}
button#about_title_pa {
    text-decoration: none;
    color: #e1ecf7;
    font-size: 30px;
}
button#about_title_pa:hover {
   padding-top: 20px;
    color:  #6fa4ef;
    
}
.about_box p{
    position: relative;
    bottom: 50px;
    color: #d6e0ee;
    text-align: center;
    font-size: 40px;
   
   
}
.about_imgss{
    height: 250px;
    width: 250px;
border-radius: 50px;
margin-bottom: 40px;
border-radius: 50% ;
cursor: pointer;
overflow: hidden;
position: relative;
}
.about_imgss img{
    width:100%;
    height: 100%;
    border-radius: 50% ;
    object-fit: cover;
    
    
}
.card{
    border: none;
}

.card-header {

    padding: 25px 150px;
    font-size: 50px;
    width: 100%;
    height: 100%;
    background-color: 062841;
    border-bottom: 1px solid #e5e1f3;
}
    .card-body{
       text-align: center;
        background-color:#042033;  
    border-bottom: 1px solid white ;
    color: #d6e0ee;
            font-size: 30px;
            padding-bottom: 230px;
        
    }
   #collapseTwo{
    padding-bottom: 50px;
    background-color: #042033;
   }

@media(max-width:850px){
    
        #about_title_pa{
            font-size: 30px;}
}
@media(max-width:700px){
    #about_title_pa{
        font-size: 27px;}
}
@media(max-width:600px){
  
        #about_title_pa{
            font-size: 30px;}
}
@media(max-width:700px){
  
    .title_text p{
        font-size: 40px;
    }
    .home_box p{
        font-size: 30px;
    }
    .about_box p{
        font-size: 30px;
    }
    .card-body{
        font-size: 25px;
    }
    
}

 #Headteacher{
    width: 100%;
    background-color:#062841 ;
    position: relative;
    bottom: 25px;
    margin-bottom: 60px;
  
 }

#Headteacher-title{
    position: relative;
    bottom: 40px;
    text-align: center;
    color: rgb(184, 215, 245);
    font-weight: bold;
}
   
h4.card-title{
font-weight: bold;
font-size: 30px;
color: rgb(169, 202, 245);}
p.card-text {
    font-size: 25px;
}
#HURLOW{
padding-bottom: 30px;
}

#curriculum{
    width: 100vw;
    min-height: 100vh;
    background-color:#062841 ;
    position: relative;
    bottom: 25px;
   
    margin-top: -200px;

}
.curriculum_box{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:  space-around;
    margin: auto;
    padding-bottom: 120px;

}
.curriculum_item{
    height: 20rem;
    width: 20rem;
border-radius: 100px;
margin-bottom: 40px;
cursor: pointer;
overflow: hidden;
position: relative;
box-shadow: 0 0 20px rgb(133, 182, 238);
}
.curriculum_item img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
    
}
.curriculum_item:hover .curriculum_desc{
    top:0px;
}
.curriculum_desc{
    width:100%;
    height: 100%;
    display: flex;
    position: absolute;
    top:-320px;
     left: 0;
    bottom: 30%;
    text-align: center;
    background: linear-gradient(rgba(128, 160, 187, 0.7),rgb(13, 29, 82));
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.curriculum_desc h3{
font-size: 25px;
font-weight: bold;
color: rgb(8, 38, 68);
position: relative;
top: 30px;

}
.curriculum_desc p{
    font-size: 20px;
    color: white;
  
    border-top: 3px solid rgb(23, 46, 80);

}
.curriculum_desc h4{
    color: #6fa4ef;
    font-size: 15px;
    font-weight: bold;
}
#contactt{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgb(33, 71, 126),#042033);
    position: relative;
    bottom: 30px;
  
}
#contactt_box{
    position: relative;
top: 0px;}

    #contact_title{
        text-align: center;
        color: rgb(222, 230, 243);
        font-size: 40px;
    }
  
    #contact_icon{
        padding-right: 20px;
        font-size: 40px;
        
    }
#contact_title_info{
    font-weight: bold;
    font-size: 25px;
}
    #contact_info{
        text-align: center;
        color: #c4d0f5;
        font-size: 23px; 
       
    }
    .content-table{
        border-collapse: collapse;
        text-align: center;
        margin: 25px 0;
        min-width: 100px;
        color: #d6e0ee;
        font-size: 25px;
    }
    .content-table td{
        padding: 12px 15px;
    }
    .content-table tr{
        border-bottom: 2px solid #c4d0f5;
        
    }
    .content-table tr:nth-last-of-type(odd){
      background-color: #05315a ;
      color: #9ec6e2;
    }
    .content-table tr:last-of-type{
        border-bottom: 5px solid #9ec6e2;
          
      }
   

footer{
width: 100%;
max-height: 200vh;
position: relative;
bottom: 0;
color: rgb(222, 230, 243);
    margin-top: -60px;
    background: #042033;
    padding: 60px 0 20px;
   margin-top: -55px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    }
    
.row img{
    position: relative;
    bottom:50px;
    width: 100%;
    
}
    .col{
        flex-basis: 30%;
        padding: 10px;
    }
    .col :nth-child(2), .col:nth-child(3){
        flex-basis: 15%;
    }
@media(max-width:1100px) {
    footer{
        bottom: unset;
        
    }
    .col{
        flex-basis: 100%;
      
    }
    .col :nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }

footer #footer-links{
    left: 0%;
}
footer .footer_find  img{
 
    bottom: 130px;
    left: 70%;
}

footer #footer_p{
   
    bottom: 100px;
   
 }
 footer.col h3{
    
    bottom: 50px;
}
}
.col h3{
    width: fit-content;;
    position: relative;
    bottom: 80px;
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: bold;
  
} #footer-links{
    position: absolute;
    left: 30%;
    bottom: 250px;
    }
ul{
    position: relative;
    bottom: 10px;
}
ul li {
    list-style: none;
    margin-bottom: 12;
    
}
ul li a{

    font-size: 25px;
    color: rgb(222, 230, 243);
    text-align: center;
    display: flex;
    flex-flow: column;
   
}
ul li a:hover{
    text-decoration: none;
    padding-left: 30px;
    color: #6fa4ef; ;
}
 #footer_p{
    position: relative;
    bottom: 120px;
    font-size: 25px;
    color: rgb(222, 230, 243);
 }
 .footer_find  img{
     width: 150px;
     height: 170px;
     position: relative;
     bottom: 30px;
     left: 60%;
 }
 .footer_find h3{
     position: relative;
     bottom: 0px;
 }
 .footer_find #footer_p {
    position: relative;
    bottom: 20px;
}
.underline{
    width: 100%;
    height: 5px;
    background: #9ec6e2;
    border-radius: 3px;
    position: absolute;
    top: 40px;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #163857;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
#footer_hr{
    width: 90%;
    border: 0;
    position: relative;
    bottom: 130px;
border-bottom:3px solid rgb(155, 173, 255) ;
  margin: 20px auto;
}
.copyright{
text-align: center;
font-size: 20px;
color: white;
position: relative;
bottom: 140px;
}